*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: initial; }

html {
  font-size: 62.5%; }
  @media screen and (max-width: 700px) {
    html {
      font-size: 45%; } }

body {
  box-sizing: border-box;
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 1.2; }

a {
  color: #262626;
  text-decoration: none; }

.btn {
  background: #0e86ca;
  color: #fff;
  border: 0;
  padding: 1rem;
  font-size: 1.8rem;
  border-radius: 2px;
  cursor: pointer; }
  .btn:hover {
    background: #00aeff; }

ul {
  list-style: none; }

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto; }

.nav {
  background-color: rgba(255, 255, 255, 0.15);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2000; }
  .nav__container {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 4.5rem;
    padding: 0 4rem; }
  .nav ul {
    display: flex;
    align-items: center;
    padding: 7px 0px; }
    .nav ul li {
      padding: 0 1rem; }
      .nav ul li a {
        color: white; }
      .nav ul li svg {
        width: 8rem;
        fill: #0e86ca; }
        .nav ul li svg:hover {
          fill: #00aeff; }

/* Fading animation */
.fadeIn {
  animation-name: fadeIn;
  animation-duration: 3.5s; }
  @media screen and (max-width: 700px) {
    .fadeIn {
      animation-name: fadeInMobile; } }

.slideIn {
  animation-name: slideIn;
  animation-duration: 3.5s; }

@keyframes fadeIn {
  from {
    transform: scale(1.5) translateX(-15rem);
    opacity: .4; }
  to {
    transform: scale(1);
    opacity: .9; } }

@keyframes fadeInMobile {
  from {
    transform: scale(1.5) translateX(-5rem);
    opacity: .4; }
  to {
    transform: scale(1);
    opacity: .9; } }

@keyframes fadeRight {
  from {
    transform: translateX(50%) scale(1.2);
    opacity: 0; }
  to {
    transform: translateX(0);
    opacity: 1; } }

@keyframes fadeTop {
  from {
    transform: translateY(-50%) scale(1.2);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }

@keyframes fadeBottom {
  from {
    transform: translateY(50%) scale(1.2);
    opacity: 0; }
  to {
    transform: translateX(0);
    opacity: 1; } }

.showcase {
  height: 100%;
  min-height: 65vh;
  position: relative;
  overflow: hidden; }
  .showcase__slide {
    height: 100%;
    min-height: 65rem; }
    @media screen and (max-width: 700px) {
      .showcase__slide {
        text-align: center; } }
    .showcase__slide .btn {
      margin-top: 2rem;
      animation: fadeBottom 2s .4s ease-in-out forwards;
      opacity: 0; }
      @media screen and (max-width: 700px) {
        .showcase__slide .btn {
          margin: 4rem auto; } }
  .showcase__logo {
    display: inline-block;
    max-width: 25rem;
    width: 100%;
    height: auto;
    margin-bottom: 4rem;
    animation: fadeTop 2s .4s ease-in-out forwards;
    opacity: 0; }
    @media screen and (max-width: 700px) {
      .showcase__logo {
        margin: 0 auto; } }
  .showcase__img img {
    position: absolute;
    object-fit: cover;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .showcase__content {
    position: absolute;
    width: 80%;
    height: 75%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 4rem; }
    .showcase__content h2 {
      font-size: 6rem;
      color: #fff;
      text-transform: uppercase;
      animation: fadeRight 2s ease-in-out forwards;
      opacity: 0; }
      @media screen and (max-width: 700px) {
        .showcase__content h2 {
          margin: 2rem auto; } }
  .showcase__controls {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media screen and (max-width: 700px) {
      .showcase__controls {
        top: 70%; } }
  .showcase__control {
    position: relative;
    z-index: 2000; }
    .showcase__control button {
      min-width: 4rem;
      height: 10rem;
      border: .8px solid #0e86ca;
      background-color: rgba(17, 17, 17, 0.473);
      cursor: pointer;
      appearance: none; }
      .showcase__control button:hover {
        background-color: rgba(17, 17, 17, 0.773); }
        .showcase__control button:hover svg {
          fill: #00aeff; }
    .showcase__control svg {
      fill: #0e86ca;
      width: 5rem;
      height: 5rem; }
  .showcase__dots {
    z-index: 1000;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    /* The dots/bullets/indicators */ }
    .showcase__dots .dot {
      cursor: pointer;
      height: 6px;
      width: 100px;
      margin: 0 4px;
      background-color: #bbb;
      display: inline-block;
      transition: background-color 0.6s ease; }
      .showcase__dots .dot:hover {
        background-color: #dbdbdb; }
      .showcase__dots .dot.active {
        background: #0e86ca; }

.games {
  background: url(../img/bgTop.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 40rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden; }
  .games .games-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    flex-wrap: wrap; }
    .games .games-box .game {
      display: inline-block;
      position: relative;
      width: 167px;
      height: 200px;
      cursor: pointer;
      margin: 1rem;
      transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
      @media screen and (max-width: 700px) {
        .games .games-box .game {
          padding: 7rem 0; } }
      .games .games-box .game:hover {
        transform: scale(1.5);
        z-index: 55555; }
      .games .games-box .game img {
        width: 100%; }
